<html>
  <head>
    <style>
      body {
        border-top: 5px solid #000;
        color: #444;
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <%= content %>
    </div>
  </body>
</html>